Flag a span in the following code which should be highlighted for the given CodeQL query titled " {{ query_name }} " which has the following description -
{{ description }}

The recommended way to refactor code flagged for this CodeQL query is -
{{ recommendation }}

Code -
```python
{{ input_code }}
```

Span to be highlighted -
```python
